h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: snow;
}

/* corresponding buttons */
#asgnmBtn {
	position: absolute;
	top: 125px;
	left: 10;
}
#aboutBtn {
	position: absolute;
	top: 125px;
	right: 10;
}
#helpBtn {
	position: absolute;
	top: 200px;
	right: 10;
}
/* color for placeholder of api input key box */
::placeholder {
	color: #121212;
}

/* keep style consistent for input box with buttons */
#floatingInput {
	border-radius: 8px;
	position: absolute;
	top: 200px;
	left: 10;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
	box-sizing: border-box;
	color: #121212;
	cursor: pointer;
	display: inline-flex;
	flex: 1 1 auto;
	font-family: Inter, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1;
	margin: 12;
	outline: none;
	padding: 1rem 1.2rem;
	text-decoration: none;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
	white-space: nowrap;
	border: 0;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
#floatingInput:hover {
	box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
.container {
	width: 450px;
	height: 300px;
}

/* gradient for background of extension */
body {
	background: linear-gradient(
		177.9deg,
		rgb(58, 62, 88) 3.6%,
		rgb(119, 127, 148) 105.8%
	);
}
/* general button style */
button {
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
	box-sizing: border-box;
	color: #121212;
	cursor: pointer;
	display: inline-flex;
	flex: 1 1 auto;
	font-family: Inter, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1;
	margin: 12;
	outline: none;
	padding: 1rem 1.2rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
	white-space: nowrap;
	border: 0;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:hover {
	box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
