h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	list-style-type: circle;
	margin-bottom: 15px;
	justify-content: center;
}

.logo {
	width: 75px;
	height: auto;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* color for placeholder of api input key box */
::placeholder {
	color: #ffffff81;
}

/* keep style consistent for input box with buttons */
input:not([type="checkbox"]) {
	cursor: text;
	width: 80%;
}
#floatingInputLabel {
	font-size: medium;
	margin: 0.2rem;
}
.container {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 0.45rem;
}
.footer {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 0.45rem;
}

/* background of extension */
body {
	background: #303e50;
	color: #fff;
	width: 350px;
	height: 430px;
	margin: 0;
	padding: 0;
}
/* general button style */
button,
input:not([type="checkbox"]) {
	align-items: center;
	background-color: #00000000;
	border-radius: 4px;
	border-color: #6485c4;
	border-width: 3px;
	border-style: solid;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	font-size: 1.1rem;
	justify-content: center;
	margin-bottom: 1.2rem;
	margin: 0.3rem;
	outline: none;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

button:hover,
input:not([type="checkbox"]):hover {
	box-shadow: #6485c4 0 0 0 4px;
}

.invisible {
	display: none;
}

.dropdown {
	width: 200px;
}

.opts {
	position: relative;
}

.opts select {
	width: 100%;
	font-weight: bold;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#checkboxes {
	display: none;
	border: 1px #dadada solid;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

.checkInput {
	margin-left: auto;
}
